<?php
// Database connection information.
$DB_HOST = '';
$DB_NAME = '';
$DB_USER = '';
$DB_PASS = '';

// To notify to a channel when someone adds a quote.
$NOTIFY_NICK = '';
// IRC server host.
$NOTIFY_HOST = '';
$NOTIFY_CHAN = '';
$NOTIFY_BIN = '/usr/local/bin/ircnotify';

// Set other global settings here.
if (!defined('DEBUG')) {
	define('DEBUG', false);
}

ini_set('display_errors', 'On');
ini_set('error_reporting', E_ALL | E_NOTICE | E_STRICT | E_DEPRECATED);
