<?php
// Database connection information.
$DB_HOST = '';
$DB_NAME = '';
$DB_USER = '';
$DB_PASS = '';

// To notify to a channel when someone adds a quote.
$NOTIFY_NICK = '';
// IRC server host.
$NOTIFY_HOST = '';
$NOTIFY_CHAN = '';
$NOTIFY_BIN = '/usr/local/bin/ircnotify';

// Where we store images associated with quotes.
$IMAGES_DIR = 'quoteimages';

// Max image filesize we permit.
$IMAGE_MAX_SIZE = 5*1024*1024;

// Title shown prominently on the site.
$SITE_TITLE = 'Quote';

// Set other global settings here.
if (!defined('DEBUG')) {
	define('DEBUG', false);
}

ini_set('error_reporting', E_ALL | E_NOTICE | E_STRICT | E_DEPRECATED);
ini_set('display_errors', 'Off');
ini_set('display_startup_errors', false);
ini_set('log_errors', true);
ini_set('error_log', 'syslog');
