.error {
  color: red;
}

.success {
  color: green;
}

.adder .name {
  min-width: 200px;
  display: inline-block;
}

.adder .count {
  display: inline-block;
}

.quote {
	margin: 0 0 25px 0;
	padding: 5px;
}

.quote_text {
	margin: 5px 0 0 0;
	font-family: monospace;
}

.update_notes {
	margin: 10px 0 0 0;
}

.quote_image {
	max-width: 500px;
	max-height: 500px;
	margin: 10px 0 0 0;
}
